html {
    height: 100%;
}

body {
    margin: 0%;
    padding: 0%;
    background:#0d6efd ;

}   




.contenedor {
    position: relative;
    margin: 200px auto;
    width: 400px;
    padding: 30px;
    background: rgba(255, 255, 255);
    border-radius: 10px;
    box-shadow: 20px 20px 50px 2px #5b2b9e;
    

}

.titulo{
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}
nav{
    text-align: center;
}

.contenedor h2 {
    font-weight: 550;
    margin: 0px 0px 30px;
    padding: 0px
    ;
    text-align: center;

    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor .elemento label {
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 0 15px 0;
    

}

.contenedor .elemento input {
    outline: none;
    width: 100%;
    padding: 10px 0;
    background: #ffffff;
    color: #000000;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid ;
    

    margin: 5px 5px 15px 0;
    

}

.contenedor .elemento input[type="submit"] {
    
    background: rgb(167, 115, 220);
    border: 4px solid ;
    border-image: round;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 2px;
    
    border-radius: 20px;
    width: 50%;
    
    margin-left: 100px;
    
    


}
.contenedor .elemento input[type="submit"]:hover {

    background: #a41eb6;
    


}